<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <title>Figma</title>
</head>
<body>
  <h1>Figma</h1>
  <div class="projects">
    <input checked type="radio" name="display" id="list">
    <input type="radio" name="display" id="grid">
    <div class="project-actions">
      <label for="list">
        List
      </label>
      <label for="grid">
        Grid
      </label>
    </div>
    <div class="project-list">
      <div class="project">
        <img src="http://place-puppy.com/200x300" alt="Placeholder Puppy">
        <p class="project-name">Name</p>
        <time datetime="20-12-2020">20/12/20</time>
        <time datetime="20-12-2020">20/12/20</time>
      </div>
      <div class="project">
        <img src="http://place-puppy.com/200x300" alt="Placeholder Puppy">
        <p class="project-name">Name</p>
        <time datetime="20-12-2020">20/12/20</time>
        <time datetime="20-12-2020">20/12/20</time>
      </div>
      <div class="project">
        <img src="http://place-puppy.com/200x300" alt="Placeholder Puppy">
        <p class="project-name">Name</p>
        <time datetime="20-12-2020">20/12/20</time>
        <time datetime="20-12-2020">20/12/20</time>
      </div>
      <div class="project">
        <img src="http://place-puppy.com/200x300" alt="Placeholder Puppy">
        <p class="project-name">Name</p>
        <time datetime="20-12-2020">20/12/20</time>
        <time datetime="20-12-2020">20/12/20</time>
      </div>
      <div class="project">
        <img src="http://place-puppy.com/200x300" alt="Placeholder Puppy">
        <p class="project-name">Name</p>
        <time datetime="20-12-2020">20/12/20</time>
        <time datetime="20-12-2020">20/12/20</time>
      </div>
      <div class="project">
        <img src="http://place-puppy.com/200x300" alt="Placeholder Puppy">
        <p class="project-name">Name</p>
        <time datetime="20-12-2020">20/12/20</time>
        <time datetime="20-12-2020">20/12/20</time>
      </div>
      <div class="project">
        <img src="http://place-puppy.com/200x300" alt="Placeholder Puppy">
        <p class="project-name">Name</p>
        <time datetime="20-12-2020">20/12/20</time>
        <time datetime="20-12-2020">20/12/20</time>
      </div>
      <div class="project">
        <img src="http://place-puppy.com/200x300" alt="Placeholder Puppy">
        <p class="project-name">Name</p>
        <time datetime="20-12-2020">20/12/20</time>
        <time datetime="20-12-2020">20/12/20</time>
      </div>
    </div>
  </div>
</body>
</html>