<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <title>Faster</title>
</head>
<body>
  <div class="grid">
    <header></header>
    <div class="phone"></div>
    <div class="hero">
      <div class="hero-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis veniam possimus fugiat? Magni ex necessitatibus est eius ratione non velit repudiandae rem nulla! Ipsa itaque, autem quaerat ratione animi corrupti!</p>
      </div>
    </div>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
  </div>
  <section></section>
  <section></section>
  <section></section>
</body>
</html>