.container {
  display: grid;
  /* grid-auto-columns: minmax(200px, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* grid-template-rows: repeat(auto-fill, 200px); */
  grid-auto-rows: 200px;
  gap: 2rem;
  block-size: 100vh;
  max-inline-size: 1024px;
  margin: auto;
}

.item {
  border: 5px solid red;
  counter-increment: item;
}

.item::before {
  content: counter(item);
}


