.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.5rem;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.header-primary {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header-secondary {
  display: flex;
  align-items: center;
  gap: 3rem;
}