.taskCell {
  border-inline-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  padding: .25rem;
}

.taskCell:nth-child(8n) {
  /* border-inline-end: 1px solid currentColor; */
}

.taskCell.is-active::before {
  content: '(Sin Título)';
  font-size: small;
  background: #c6dafc;
  padding: .25rem;
  display: block;
  border-radius: .25rem;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}