.timezoneCell {
  font: var(--body3-regular);
  position: sticky;
  inset-block-start: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-inline-end: 1rem;
  white-space: nowrap;
  background: var(--white);
  z-index: 2;
}

.timezoneCell::before {
  content: '';
  inline-size: .5rem;
  block-size: 1px;
  background: var(--gray20);
  position: absolute;
  inset-inline-end: 0;
  inset-block-end: 0;
}